<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwC-KSzl0x5xRzf4NDvvQKHxzP-YW8FWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>551348139860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cc.sweatbox</string>
	<key>PROJECT_ID</key>
	<string>sweatbox-be8ee</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatbox-be8ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551348139860:ios:606880c03aa53c003d3ac1</string>
</dict>
</plist>